{% extends 'default/layout.html.twig' %}

{% block content %}

    <div><label>add City view</label></div>

    {{ form_start(form, {'action' : path('add_city'), 'method': 'POST' }) }}
    {{ form_row(form.name) }}
    {{ form_row(form.region) }}
    <div>
        <input type="submit" value="Dodaj grad" />
    </div>
    {{ form_end(form) }}
{% endblock %}